<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мой ИМ для GB Django</title>
    <style>
        body {
            background-image: url('https://i.ibb.co/HYdbRLh/enotik.png');
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
    <header>
        <h1>Добро пожаловать на мой проект Django для GB</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/about/">Обо мне</a></li>
            <li><a href="/admin/"> Админ панель</a> </li>
            <li><a href="/clients/"> Список клиентов</a> </li>
            <li><a href="/clients/1/orders/"> Список заказанных товаров</a> </li>
        </ul>
    </nav>
    <main>
        <p>Это простая страница, созданная в Django.</p>
    </main>
    <footer>
        <p>&copy; 2023 Мой сайт</p>
    </footer>
</body>
</html>
